.fxc-list.azc-list.azc-list-selectable .azc-list-item[aria-selected=true] {
                position: relative;
            }

                .fxc-list.azc-list.azc-list-selectable .azc-list-item[aria-selected=true] .fxc-list-selectedOverlay-corner {
                    position: absolute;
                    border-bottom: 34px solid transparent;
                    border-right: 34px solid #00bcf2;
                    top: 0;
                    right: 0;
                    width: 0;
                    height: 0;
                }

                .fxc-list.azc-list.azc-list-selectable .azc-list-item[aria-selected=true] .fxc-list-selectedOverlay-check {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 34px;
                    height: 34px;
                    fill: #fff;
                }

            .fxc-list.azc-list.azc-list-selectable.fxc-list-activateonselected .azc-list-list > .azc-list-item:not([aria-disabled=true]):hover {
                cursor: pointer;
            }