.fxc-pickerActionBar .fxc-pickerActionBar-eula {
                padding: 10px 0 0 2px;
                font-family: az_ea_font, wf_segoe-ui_normal, "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
                font-size: 11px;
                line-height: 11px;
            }