.fxc-resourcefilter .fxc-resourcefilter-threecolumn {
            width: 32%;
        }

        .fxc-resourcefilter .fxc-resourcefilter-twocolumn-equal-left {
            float: left;
            width: 50%;
            min-width: 265px;
            margin-bottom: 10px;
            margin-right: 10px;
        }

        .fxc-resourcefilter .fxc-resourcefilter-twocolumn-equal-right {
            float: right;
            width: 49%;
            min-width: 265px;
        }

        .fxc-resourcefilter .fxc-resourcefilter-threecolumn-left {
            float: left;
            width: 33%;
            min-width: 265px;
            margin-bottom: 10px;
            margin-right: 10px;
        }

        .fxc-resourcefilter .fxc-resourcefilter-threecolumn-right {
            float: right;
            width: 32%;
            min-width: 265px;
        }

        .fxc-resourcefilter .fxc-resourcefilter-twocolumn-left {
            float: left;
            width: 265px;
            margin-bottom: 10px;
        }

        .fxc-resourcefilter .fxc-resourcefilter-twocolumn-right {
            float: right;
            min-width: 265px;
            width: calc(100% - 275px);
        }

        .fxc-resourcefilter .fxc-resourcefilter-full {
            width: 100%;
            display: block;
        }