.fxc-search {
                display: block;
                position: relative;
            }

            .fxc-search-icon {
                width: 14px;
                height: 14px;
                position: absolute;
                top: 4px;
                left: 7px;
                opacity: .3;
            }

            .fxc-search-discard-icon {
                width: 11px;
                height: 11px;
                position: absolute;
                top: 4px;
                right: 11px;
                cursor: pointer;
                display: none;
                opacity: .7;
            }

            .fxc-search .azc-textBox,
            .fxc-search-populated .fxc-search-discard-icon {
                display: block;
            }

                .fxc-search .azc-textBox .azc-textBox-wrapper input {
                    padding-left: 31px;
                    padding-right: 17px;
                }

                    .fxc-search .azc-textBox .azc-textBox-wrapper input::-ms-clear {
                        display: none;
                    }

            .fxc-search ul {
                padding: 0;
                margin: 0;
                position: absolute;
                width: 100%;
                z-index: 150;
            }

            .fxc-search li {
                border-left: 1px solid;
                border-left-color: inherit;
                border-right: 1px solid;
                border-right-color: inherit;
                list-style-type: none;
                border-top-width: 0;
                border-bottom-width: 0;
                padding: 9px 32px;
                cursor: pointer;
            }

                .fxc-search li:last-child {
                    border-bottom: 1px solid;
                    border-bottom-color: inherit;
                }