.css-scope-AppInsightsExtension .ext-pd-default-rules-info-box { height: 55px; font-size: 12px; color: rgb(255, 255, 255); background: rgb(0, 114, 198); }
.css-scope-AppInsightsExtension .ext-pd-info-box-dismiss-button { float: right; width: 25px; height: 25px; transition-duration: 0.2s; transition-timing-function: ease-out; transition-property: background-color; }
.css-scope-AppInsightsExtension .ext-pd-info-box-dismiss-button > span { float: right; margin: 4px; }
.css-scope-AppInsightsExtension .ext-pd-info-box-dismiss-button:hover { background-color: rgb(186, 20, 26); }
.css-scope-AppInsightsExtension .ext-pd-chart-small { height: 100px; }
.css-scope-AppInsightsExtension .ext-pd-chart-large { height: 160px; }
.css-scope-AppInsightsExtension .ext-links-part-external-link { width: 100%; border-collapse: collapse; }
.css-scope-AppInsightsExtension .ext-links-part-external-link tr { height: 36px; }
.ext-mode-light .css-scope-AppInsightsExtension .ext-links-part-external-link { border-bottom: 1px solid rgb(212, 212, 212); }
.ext-mode-dark .css-scope-AppInsightsExtension .ext-links-part-external-link { border-bottom: 1px solid rgb(81, 81, 81); }
.css-scope-AppInsightsExtension .ext-links-part-external-link :hover { cursor: pointer; }
.ext-mode-dark .css-scope-AppInsightsExtension .ext-links-part-external-link :hover { background-color: rgb(81, 81, 81); }
.ext-mode-light .css-scope-AppInsightsExtension .ext-links-part-external-link :hover { background-color: rgb(230, 248, 254); }
.css-scope-AppInsightsExtension .ext-links-part-external-link td { border-style: none; }
.css-scope-AppInsightsExtension .ext-analytics-link-infoballon > div:first-child { padding-left: 10px; }
.css-scope-AppInsightsExtension .ext-links-part-external-link .ext-button-small-icon { padding-left: 8px; width: 10px; height: 10px; }
.ext-mode-dark .css-scope-AppInsightsExtension .ext-collapsable-icon svg { fill: rgb(255, 255, 255); }
.ext-mode-light .css-scope-AppInsightsExtension .ext-collapsable-icon svg { fill: rgb(37, 37, 37); }