.css-scope-Microsoft_AAD_IAM .ext-addapppart-icon { width: 40px; height: 40px; display: inline-block; float: left; padding-right: 5px; }
.css-scope-Microsoft_AAD_IAM .ext-addappbuttonpart-title { float: right; }
.css-scope-Microsoft_AAD_IAM .ext-addappbuttonpart-description { padding-top: 10px; clear: both; }
.css-scope-Microsoft_AAD_IAM .ext-ad-addappbuttonpart { top: 0px; position: absolute; display: block; }