.css-scope-Microsoft_AAD_IAM .ext-spotlight-sspr-heading { font-weight: bold; font-size: x-large; }
.css-scope-Microsoft_AAD_IAM .ext-spotlight-sspr-enable-button { padding-top: 125px; }
.css-scope-Microsoft_AAD_IAM .ext-spotlight-ipc-button { background-color: rgb(0, 188, 242); color: rgb(255, 255, 255); text-align: center; }