.css-scope-Microsoft_Azure_Compute .ext-scaling-header { padding: 17px 0px 3px; }
.css-scope-Microsoft_Azure_Compute .ext-scaling-subheader { padding: 17px 0px 15px; }
.css-scope-Microsoft_Azure_Compute .ext-scaling-property { padding: 0px 0px 18px; white-space: nowrap; }
.css-scope-Microsoft_Azure_Compute .ext-scaling-property-label { float: left; }
.css-scope-Microsoft_Azure_Compute .ext-scaling-property-value { white-space: normal; margin: 0px 0px 0px 37px; }
.css-scope-Microsoft_Azure_Compute .ext-scaling-property-group-label { padding: 0px 0px 15px; }
.css-scope-Microsoft_Azure_Compute .ext-scaling-subproperty { padding: 0px 0px 7px; white-space: nowrap; }
.css-scope-Microsoft_Azure_Compute .ext-scaling-subproperty:last-child { padding: 0px 0px 10px; }
.css-scope-Microsoft_Azure_Compute .ext-scaling-subproperty-label { float: left; width: 60px; }
.css-scope-Microsoft_Azure_Compute .ext-scaling-subproperty-group { margin: 0px 0px 10px 12px; border-bottom: 1px solid rgb(170, 170, 170); width: 470px; }
.css-scope-Microsoft_Azure_Compute .ext-scaling-subproperty-group:last-child { border-bottom-style: none; margin-bottom: 0px; }
.css-scope-Microsoft_Azure_Compute .ext-scaling-label-multiline { height: 30px; }
.css-scope-Microsoft_Azure_Compute .ext-scaling-profile { border-bottom: 1px solid rgb(170, 170, 170); max-width: 700px; }
.css-scope-Microsoft_Azure_Compute .ext-scaling-profile:last-child { border-bottom-style: none; }
.css-scope-Microsoft_Azure_Compute .ext-scaling-profile .ext-scaling-property-value { margin: 0px 0px 0px 180px; }
.css-scope-Microsoft_Azure_Compute .ext-scaling-infobox { min-height: 0px; padding: 0px; }
.css-scope-Microsoft_Azure_Compute .ext-scaling-control { width: 320px; }