.css-scope-Microsoft_AAD_IAM .ext-users-inlineblock { display: inline-block; }
.css-scope-Microsoft_AAD_IAM .ext-userspart-minisize { bottom: 0px; text-align: center; padding-top: 5px; position: absolute; width: 100%; }
.css-scope-Microsoft_AAD_IAM .ext-userspart-icon-mini { width: 15px; height: 15px; display: inline-block; vertical-align: bottom; }
.css-scope-Microsoft_AAD_IAM .ext-userspart-smallsize { bottom: 0px; position: absolute; }
.css-scope-Microsoft_AAD_IAM .ext-userspart-icon { width: 20px; height: 20px; display: inline-block; }
.css-scope-Microsoft_AAD_IAM .ext-userspart-smallimage { width: 30px; height: 30px; display: inline-block; }
.css-scope-Microsoft_AAD_IAM .ext-users-and-groups-tile-image { width: 35px; height: 35px; }
.css-scope-Microsoft_AAD_IAM .ext-userspart-largeimage { width: 45px; height: 45px; display: inline-block; }
.css-scope-Microsoft_AAD_IAM .ext-userspart-wide-spacesmallimage { height: 30px; }
.css-scope-Microsoft_AAD_IAM .ext-userspart-wide-spacelargeimage { height: 15px; }
.css-scope-Microsoft_AAD_IAM .ext-userspart-large-spacelarge-zero { height: 50px; }
.css-scope-Microsoft_AAD_IAM .ext-userspart-large-spacelarge-one { height: 98px; }
.css-scope-Microsoft_AAD_IAM .ext-userspart-large-spacelarge-two { height: 146px; }
.css-scope-Microsoft_AAD_IAM .ext-userspart-large-spacelarge-three { height: 193px; }
.css-scope-Microsoft_AAD_IAM .ext-userspart-large-spacesmall-zero { height: 10px; }
.css-scope-Microsoft_AAD_IAM .ext-userspart-large-spacesmall-one { height: 43px; }
.css-scope-Microsoft_AAD_IAM .ext-userspart-large-spacesmall-two { height: 76px; }
.css-scope-Microsoft_AAD_IAM .ext-userspart-large-spacesmall-three { height: 109px; }
.css-scope-Microsoft_AAD_IAM .ext-userspart-large-spacesmall-four { height: 142px; }
.css-scope-Microsoft_AAD_IAM .ext-userslist-columns-spacing { margin-top: 10px; }
.css-scope-Microsoft_AAD_IAM .ext-userslist-image { height: 30px; width: 30px; display: inline-block; vertical-align: middle; padding: 0px 10px; }
.css-scope-Microsoft_AAD_IAM .ext-userslist-searchbox { padding: 20px 0px 0px; margin: 0px 15px 15px; width: calc(100% - 30px); }
.css-scope-Microsoft_AAD_IAM .ext-userslist-grid { height: calc(100% - 58px); }
.css-scope-Microsoft_AAD_IAM .ext-userdetailsprofilepart-image { width: 105px; height: 105px; display: inline-block; position: absolute; right: 0px; bottom: 0px; }
.css-scope-Microsoft_AAD_IAM .ext-userdetailsresetpassword-spacing { margin-top: 10px; }
.css-scope-Microsoft_AAD_IAM .ext-userdetailsresetpassword-error-label { color: red; padding-top: 10px; }
.css-scope-Microsoft_AAD_IAM .ext-useraddnew-password { padding-bottom: 15px; height: 23px; }
.css-scope-Microsoft_AAD_IAM .ext-userdirectoryroles-otheradminrole { margin-top: 20px; }
.css-scope-Microsoft_AAD_IAM .ext-users-and-groups-tile { margin-top: 6px; }
.css-scope-Microsoft_AAD_IAM .ext-users-and-groups-tile-div { padding-left: 1px; padding-bottom: 1px; float: left; width: 35px; height: 35px; }
.css-scope-Microsoft_AAD_IAM .ext-usersproperties-form { max-width: 500px; }
.css-scope-Microsoft_AAD_IAM .ext-userproperties-thumbnailupload { padding-bottom: 15px; }
.css-scope-Microsoft_AAD_IAM .ext-userprofile-form-section-name { font-size: 16px; padding-top: 20px; margin-bottom: 5px; white-space: nowrap; }