.css-scope-WebsitesExtension .ext-zumo-quickstart-section { padding: 10px 0px; }
.css-scope-WebsitesExtension .ext-zumo-quickstart-step { vertical-align: top; width: 50px; }
.css-scope-WebsitesExtension .ext-zumo-quickstart-directions div { margin-bottom: 10px; }
.css-scope-WebsitesExtension .ext-zumo-quickstart-directions { vertical-align: top; width: calc(100% - 60px); }
.css-scope-WebsitesExtension .ext-zumo-quickstart-header { padding-top: 10px; }
.css-scope-WebsitesExtension .ext-zumo-quickstart-button-row div { margin-bottom: 0px; }
.css-scope-WebsitesExtension .ext-zumo-button { padding: 2px 6px; border-width: 1px; border-style: solid; border-color: rgb(0, 0, 0); }
.css-scope-WebsitesExtension .ext-zumo-button a:link, .css-scope-WebsitesExtension .ext-zumo-button a:visited { text-decoration: none; color: rgb(0, 0, 0); }
.css-scope-WebsitesExtension hr { display: block; height: 1px; border-width: 1px 0px 0px; border-top-style: solid; border-top-color: rgb(204, 204, 204); margin: 1em 0px; padding: 0px; }