.css-scope-WebsitesExtension .ext-chartParent { margin: 15px 0px; height: 300px; }
.css-scope-WebsitesExtension .ext-chartSvg { height: 90%; width: 50%; }
.css-scope-WebsitesExtension .ext-chartTitle { height: 10%; margin: auto; padding-top: 10px; text-align: center; width: 50%; }
.css-scope-WebsitesExtension .ext-floatRight { float: right; }
.css-scope-WebsitesExtension .ext-floatLeft { float: left; }
.css-scope-WebsitesExtension .ext-clear { clear: both; }
.css-scope-WebsitesExtension .ext-displayCenter { margin: auto; }