.azc-optionPicker {
                display: inline-block;
            }

                .azc-optionPicker ul {
                    margin-right: 1px;
                    margin-bottom: 1px;
                }

                .azc-optionPicker li {
                    min-width: 46px;
                    line-height: 13px;
                    font-size: 12px;
                    padding: 4px;
                    text-align: center;
                    cursor: default;
                    float: left;
                    border: 1px solid;
                    margin-right: -1px;
                    margin-bottom: -1px;
                }

                    .azc-optionPicker li input {
                        display: none;
                    }

                    .azc-optionPicker li.azc-bg-selected.azc-disabled,
                    .azc-optionPicker li.azc-bg-selected.azc-disabled:hover {
                        background-color: #00bcf2;
                    }

                    .azc-optionPicker li[aria-checked=true] {
                        position: relative;
                    }

                .azc-optionPicker.azc-useFlex {
                    width: 100%;
                }

                    .azc-optionPicker.azc-useFlex ul {
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: flex;
                        -ms-flex-wrap: wrap;
                        -webkit-flex-wrap: wrap;
                        flex-wrap: wrap;
                    }

                    .azc-optionPicker.azc-useFlex li {
                        -ms-flex: 1 1 auto;
                        -webkit-flex: 1 1 auto;
                        flex: 1 1 auto;
                    }

                .azc-optionPicker:after {
                    content: ".";
                    display: block;
                    height: 0;
                    clear: both;
                    visibility: hidden;
                }