.css-scope-AppInsightsExtension .ext-quickstart { width: auto; margin-bottom: 30px; margin-right: 10px; margin-left: 20px; }
.css-scope-AppInsightsExtension ext-quickstart-section-header h1 { margin-bottom: 30px; }
.css-scope-AppInsightsExtension .ext-quickstart-leftcolumn-icon { display: inline-block; height: 50px; width: 50px; float: left; }
.css-scope-AppInsightsExtension .ext-quickstart-add-rightcolumn { width: calc((100% - 50px) - 50px); margin: 0px 25px; vertical-align: top; display: inline-block; }
.css-scope-AppInsightsExtension .ext-quickstart-add-section { margin-bottom: 15px; margin-left: -20px; }
.css-scope-AppInsightsExtension .ext-quickstart-links { display: block; margin-top: 8px; margin-bottom: 5px; }
.css-scope-AppInsightsExtension .ext-quickstart-help-linkImage { width: 10px; height: 10px; padding-left: 2px; display: inline-block; }
.css-scope-AppInsightsExtension .ext-quickstart-separator { margin-left: -50px; margin-bottom: 10px; }
.css-scope-AppInsightsExtension .ext-quickstart-listitem { margin-top: 25px; margin-bottom: 26px; display: block; }
.css-scope-AppInsightsExtension .ext-quickstart-removepadding { padding-left: 0px; padding-right: 0px; }
.css-scope-AppInsightsExtension .ext-intro-general-option { padding-bottom: 30px; }
.css-scope-AppInsightsExtension .ext-intro-general-option-image { width: 50px; display: inline-block; }
.css-scope-AppInsightsExtension .ext-intro-general-option-header { vertical-align: 70%; font-size: 20px; padding-left: 20px; font-weight: bold; }
.css-scope-AppInsightsExtension .ext-intro-general-option-summary { padding-left: 50px; padding-top: 5px; }
.css-scope-AppInsightsExtension .ext-intro-nodejs-option { padding-bottom: 30px; }
.css-scope-AppInsightsExtension .ext-intro-nodejs-option-image { width: 50px; display: inline-block; }
.css-scope-AppInsightsExtension .ext-intro-nodejs-option-header { vertical-align: 70%; font-size: 20px; padding-left: 20px; font-weight: bold; }
.css-scope-AppInsightsExtension .ext-intro-nodejs-option-summary { padding-left: 50px; padding-top: 5px; }
.css-scope-AppInsightsExtension .ext-intro-nodejs-option-summary-part { padding-top: 5px; }
.css-scope-AppInsightsExtension .ext-intro-nodejs-option-summary-part-code { padding-top: 5px; background-color: rgb(238, 238, 238); border-width: 1px; border-style: solid; border-color: rgb(153, 153, 153); display: block; }