.css-scope-Microsoft_Azure_Compute .ext-disk-label { margin-top: 10px; margin-bottom: 6px; padding: 0px; }
.css-scope-Microsoft_Azure_Compute .ext-disk-value { margin-bottom: 18px; }
.css-scope-Microsoft_Azure_Compute .ext-disk-performance { margin-top: 5px; margin-bottom: 12px; }
.css-scope-Microsoft_Azure_Compute .ext-disk-performance-label { padding-bottom: 8px; padding-right: 30px; }
.css-scope-Microsoft_Azure_Compute .ext-disk-performance-value { padding-bottom: 8px; text-align: right; }
.css-scope-Microsoft_Azure_Compute .ext-disk-hotspot { margin-left: -10px; }
.css-scope-Microsoft_Azure_Compute .ext-disk-dropdown { max-width: 50%; }
.css-scope-Microsoft_Azure_Compute .ext-disk-dataDisksHeader { width: 100%; border-bottom: thin solid grey; text-align: left; }
.css-scope-Microsoft_Azure_Compute .ext-disk-dataDiskSection { border-width: thin; border-style: solid; border-color: rgb(172, 172, 172); padding: 10px 0px 10px 10px; }
.css-scope-Microsoft_Azure_Compute .ext-disk-dockedSection { padding: 15px 20px 5px; }
.css-scope-Microsoft_Azure_Compute .ext-editIcon { float: right; width: 15px; height: 15px; margin-left: 7px; cursor: pointer; }
.css-scope-Microsoft_Azure_Compute .ext-FullWidth div { width: 100%; margin-bottom: 10px; margin-top: -10px; }
.css-scope-Microsoft_Azure_Compute .ext-ellipses { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.css-scope-Microsoft_Azure_Compute .ext-classRow { padding-top: 10px; height: 30px; }
.css-scope-Microsoft_Azure_Compute .ext-rowHighlighted:hover { cursor: pointer; background-color: rgba(85, 179, 255, 0.2); }
.css-scope-Microsoft_Azure_Compute .ext-rowNotHighlighted:hover { cursor: default; }