.css-scope-Microsoft_Azure_Compute .ext-toobar-viewmodel { float: right; top: 40px; position: relative; margin-top: -25px; }
.css-scope-Microsoft_Azure_Compute .ext-sqlvirtualmachine-section { padding-top: 10px; }
.css-scope-Microsoft_Azure_Compute .ext-sqlvirtualmachine-section td li { width: 47%; }
.css-scope-Microsoft_Azure_Compute .ext-sqlvirtualmachine-section > div { margin-top: 5px; }
.css-scope-Microsoft_Azure_Compute .ext-sqlvirtualmachine-section > div { padding-bottom: 0px; }