.css-scope-Microsoft_Azure_Billing .ext-tour-tile { position: relative; }
.css-scope-Microsoft_Azure_Billing .ext-tour-tile .ext-tourTile-title, .css-scope-Microsoft_Azure_Billing .ext-tour-tile .ext-tourTile-subtitle, .css-scope-Microsoft_Azure_Billing .ext-tour-tile .ext-tourTile-subtitle2 { left: 15px; position: absolute; }
.css-scope-Microsoft_Azure_Billing .ext-tour-tile .ext-tourTile-title { top: 10px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-tile .ext-tourTile-subtitle { bottom: 35px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-tile .ext-tourTile-subtitle2 { bottom: 20px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-tile .ext-tourTile-image { width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-tile.ext-tour-tile-mini .ext-tourTile-title { top: 64px; left: 39px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-tile.ext-tour-tile-mini .ext-tourTile-image { top: 3px; left: 10px; width: 85px; height: 85px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-tile.ext-tour-tile-small .ext-tourTile-title { top: 40px; left: 95px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-tile.ext-tour-tile-small .ext-tourTile-image { width: 175px; height: 85px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-blade .ext-tour-divider { margin: 30px 0px; display: block; }
.css-scope-Microsoft_Azure_Billing .ext-tour-blade .ext-tour-section { width: auto; padding-left: 0px; display: block; }
.css-scope-Microsoft_Azure_Billing .ext-tour-blade .ext-tour-section .ext-tour-subsection { margin-bottom: 30px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-blade .ext-tour-section.ext-tour-hubs { margin: 38px 0px -33px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-blade .ext-tour-section.ext-tour-hubs .ext-tour-subsection { margin-bottom: 20px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-blade .ext-tour-section .ext-tour-subsection .ext-tour-section-title { margin-bottom: 10px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-blade .ext-tour-section.ext-tour-hubs .ext-tour-leftColumn h2 { margin-bottom: 25px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-subsection.ext-tour-blades-commands { margin-top: 101px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-subsection.ext-tour-blades-lenses { margin-top: 127px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-subsection.ext-tour-blades-lenses div, .css-scope-Microsoft_Azure_Billing .ext-tour-subsection.ext-tour-blades-parts div { margin-bottom: 5px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-subsection.ext-tour-blades-parts { margin-top: 184px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-leftColumn { float: left; }
.css-scope-Microsoft_Azure_Billing .ext-tour-rightColumn { float: right; }
.css-scope-Microsoft_Azure_Billing .ext-tour-leftColumn.ext-tour-startboardRightClick { width: 200px; margin-bottom: -33px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-hubs .ext-tour-leftColumn { width: 334px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-leftColumn.ext-tour-bladeImage { width: 269px; margin: 0px 0px -33px -10px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-leftColumn.ext-tour-blades { width: 150px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-rightColumn.ext-tour-hubsImage { width: 186px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-rightColumn.ext-tour-blade { width: 255px; margin-top: 7px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-rightColumn.ext-tour-bladesImage { width: 366px; margin-bottom: -33px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-section-icon, .css-scope-Microsoft_Azure_Billing .ext-tour-section-icon img { width: 30px; height: 30px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-section-icon { float: left; margin: 2px 15px 0px 0px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-blade .ext-tour-section .ext-tour-section-title { margin-bottom: 15px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-section.ext-tour-section-endOfTour { text-align: center; margin-top: 47px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-rightClickImage { margin: -10px 0px -5px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-customizeImageWrapper { margin-bottom: 15px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-pinToStartboardImage { margin-top: -28px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-organizeModeImage, .css-scope-Microsoft_Azure_Billing .ext-tour-resizeImage { margin: 10px 0px 25px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-resizeText { margin-left: 137px; margin-top: -57px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-organizeModeImage { margin-top: 25px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-section.ext-tour-section-welcome h1 { margin-bottom: 15px; }
.css-scope-Microsoft_Azure_Billing .ext-tour-section.ext-tour-section-pinning { margin-top: 10px; }