.css-scope-Microsoft_AAD_IAM .ext-thumbnailborder-user { border-radius: 50%; }
.css-scope-Microsoft_AAD_IAM .ext-thumbnailborder-group { border-radius: 35% 0px; }
.css-scope-Microsoft_AAD_IAM .ext-form-section-name { font-size: 16px; padding-top: 7px; margin-bottom: 5px; white-space: nowrap; }