.css-scope-Microsoft_AAD_IAM .ext-ad-choose-colums-spacing { padding-top: 8px; padding-bottom: 8px; padding-left: 16px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-app-logos-container-spacing { margin-left: 15px; margin-top: 14px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-app-pills-icon-image { height: 45px; width: 45px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-appslist-image { height: 30px; width: 30px; display: inline-block; vertical-align: middle; padding: 0px 10px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-appslist-form { width: 100%; overflow: hidden; margin: 17.5px 20px 0px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-appslist-filtergroup { width: 100%; display: block; float: left; margin-top: 2.5px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-appslist-filter { float: left; margin-right: 20px; width: 200px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-appslist-button { margin-top: 15.69px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-appslist-grid { clear: left; padding: 20px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-appslist-choosecolumns-blade { margin: 10px 25px; }