.css-scope-Microsoft_AAD_IAM .ext-passwordReset-margin-top { margin-top: 15px; }
.css-scope-Microsoft_AAD_IAM .ext-passwordReset-padding-left { padding-left: 15px; }
.css-scope-Microsoft_AAD_IAM .ext-passwordReset-error-label { color: red; font-size: 12px; }