.css-scope-Microsoft_AAD_IAM .ext-ad-featured-gallery-control { padding: 0px 16px; width: 100%; }
.css-scope-Microsoft_AAD_IAM .ext-ad-featured-gallery-control-item { padding: 9.5px; margin: 0px -1px; height: 135px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-item-title { margin-top: -4px; margin-bottom: 5px; max-height: 36px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.css-scope-Microsoft_AAD_IAM .ext-ad-featured-medium-width { width: 99px; height: 99px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-featured-gallery-control-item .ext-ad-item-title { margin-top: 4px; margin-bottom: 3px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-loadingButton { width: 100%; border-style: none; height: 36px; text-align: center; }
.css-scope-Microsoft_AAD_IAM .ext-ad-galleryApp-creation-container-bottom-spacing { margin-bottom: 15px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-galleryApp-creation-container-top-spacing { margin-top: 15px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-galleryApp-creation-container-logo-spacing { margin-top: 5px; margin-bottom: 15px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-galleryApp-creation-container-custom-supports-spacing { margin: -5px 0px -10px 10px; width: 300px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-galleryMdmApp-creation-permissions-spacing { display: inline-block; }
.css-scope-Microsoft_AAD_IAM .ext-ad-galleryMdmApp-creation-permissions-section-spacing { margin-bottom: 20px; }
.css-scope-Microsoft_AAD_IAM .ext-galleryApps-text { margin: 15px 2px 5px 15px; }
.css-scope-Microsoft_AAD_IAM .ext-galleryApps-searchResultsText { margin: 5px 2px 0px 15px; }
.css-scope-Microsoft_AAD_IAM .ext-galleryApps-grid { height: calc(100% - 58px); margin: 15px; }
.css-scope-Microsoft_AAD_IAM .ext-galleryApps-searchbox { margin: 15px; width: calc(100% - 30px); }
.css-scope-Microsoft_AAD_IAM .ext-galleryApps-textWithMargin { margin: 25px 0px 0px 15px; }
.css-scope-Microsoft_AAD_IAM .ext-galleryApps-appslist-image { height: 30px; width: 30px; display: inline-block; vertical-align: middle; padding: 0px 10px; }
.css-scope-Microsoft_AAD_IAM .ext-galleryApps-inline { display: inline-block; }
.css-scope-Microsoft_AAD_IAM .ext-galleryApps-underline { text-decoration: underline; }