.css-scope-Microsoft_Azure_Compute .ext-pane-container { width: 100%; height: 100%; }
.css-scope-Microsoft_Azure_Compute .ext-primarypane { padding: 10px 25px 0px; }
.css-scope-Microsoft_Azure_Compute .ext-secondarypane-header { height: 20px; padding: 7px 25px 2px; border-bottom: 2px solid rgb(169, 169, 169); }
.css-scope-Microsoft_Azure_Compute .ext-secondarypane-header-minimize-link { float: right; }
.css-scope-Microsoft_Azure_Compute .ext-secondarypane-header-title { vertical-align: top; }
.css-scope-Microsoft_Azure_Compute .ext-property { padding: 0px 0px 12px; }
.css-scope-Microsoft_Azure_Compute .ext-property a { padding: 0px; }
.css-scope-Microsoft_Azure_Compute .ext-property-name { max-width: 100%; width: auto; overflow: hidden; display: inline-block; color: rgb(108, 112, 116); }
.css-scope-Microsoft_Azure_Compute .ext-status-details-minimize { width: 16px; height: 16px; }
.css-scope-Microsoft_Azure_Compute .ext-status-details-container { margin: 20px 25px 0px; }
.css-scope-Microsoft_Azure_Compute .ext-status-details-container ul { padding: 0px; }