.css-scope-Microsoft_AAD_IAM .ext-ad-branding-form-container-spacing { margin-top: 10px; margin-right: 40px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-branding-container-spacing { margin-top: 10px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-branding-container-fileUpload-spacing { margin-bottom: 20px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-branding-container-advancedSettings-text { font-weight: bold; font-size: 14px; margin-top: 10px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-branding-languageListView-item { width: 250px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-branding-upsell-image { float: left; width: 16%; margin-right: 45px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-branding-upsell-content { margin-top: 20px; margin-bottom: 35px; overflow: hidden; }
.css-scope-Microsoft_AAD_IAM .ext-ad-branding-upsell-description { float: left; width: 60%; }
.css-scope-Microsoft_AAD_IAM .ext-ad-branding-upsell-title { width: 100%; margin-top: 30px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-branding-upsell-whyUse-title { width: 100%; margin-bottom: 15px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-branding-upsell-whyUse-image { width: 50px; height: 50px; padding-left: 10px; padding-top: 15px; float: left; }
.css-scope-Microsoft_AAD_IAM .ext-ad-branding-upsell-whyUse-content { width: 85%; padding-top: 15px; padding-bottom: 15px; float: right; }
.css-scope-Microsoft_AAD_IAM .ext-ad-branding-upsell-premium-trial-button { padding-top: 120px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-branding-upsell-heading { font-weight: bold; font-size: x-large; }