.css-scope-Microsoft_Azure_Compute .ext-diagram { width: 100%; height: 800px; }
.css-scope-Microsoft_Azure_Compute .ext-node { border-radius: 7px; }
.css-scope-Microsoft_Azure_Compute .ext-node-icon { position: relative; height: 34px; width: 34px; float: left; margin-left: 0px; margin-top: -2px; margin-bottom: 8px; }
.css-scope-Microsoft_Azure_Compute .ext-node-name { padding: inherit; text-align: center; font-weight: bold; font-size: 130%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.css-scope-Microsoft_Azure_Compute .ext-node-hotspot { width: auto; position: absolute; right: 3px; bottom: 3px; margin: auto; }
.css-scope-Microsoft_Azure_Compute .ext-node-properties { margin-top: 10px; }
.css-scope-Microsoft_Azure_Compute .ext-node-properties-property { float: left; margin-top: 5px; }
.css-scope-Microsoft_Azure_Compute .ext-disk-node-property-hotspot-text { text-align: center; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; max-width: 230px; }
.css-scope-Microsoft_Azure_Compute .ext-nic-node-property-hotspot-text { text-align: center; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; max-width: 180px; }
.css-scope-Microsoft_Azure_Compute .ext-node-properties-property-hotspot { float: left; padding: inherit; }
.css-scope-Microsoft_Azure_Compute .ext-disk-node-text { text-align: left; margin-top: 10px; }
.css-scope-Microsoft_Azure_Compute .ext-info-node-icon { height: 15px; width: 15px; float: left; }
.css-scope-Microsoft_Azure_Compute .ext-info-node-text { margin-left: 20px; }
.css-scope-Microsoft_Azure_Compute .ext-info-node-hotspot { float: left; margin-left: 20px; }
.css-scope-Microsoft_Azure_Compute .ext-info-node-hotspot-selectable { padding: inherit; }
.css-scope-Microsoft_Azure_Compute .ext-connectinfo-messages { margin-left: -20px; }
.css-scope-Microsoft_Azure_Compute .ext-connectinfo-messages-hotspot { float: left; padding: inherit; text-align: center; }