.css-scope-Microsoft_Azure_Classic_Compute .ext-block-left { display: block; width: 100%; padding-bottom: 6px; }
.css-scope-Microsoft_Azure_Classic_Compute .ext-ip-address-field-name { padding-top: 16px; }
.css-scope-Microsoft_Azure_Classic_Compute .ext-ip-address-field-value { padding-top: 6px; margin-left: 20px; }