.css-scope-Microsoft_AAD_IAM .ext-ad-userprovisioning-formsection { margin-top: 16px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-userprovisioning-formSectionWrapper { margin-top: 16px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-userprovisioning-dynamic-elements-spacing { margin-bottom: 5px; }