.css-scope-Microsoft_AAD_IAM .ext-ad-search-role-label { padding-left: 10px; padding-top: 15px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-select-role-spacing { height: calc(100% - 80px); }
.css-scope-Microsoft_AAD_IAM .ext-ad-select-role-selector { position: absolute; bottom: 0px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-passwordsso-credentials { padding-top: 15px; }
.css-scope-Microsoft_AAD_IAM .ext-ownerslist-image { height: 30px; width: 30px; display: inline-block; vertical-align: middle; }
.css-scope-Microsoft_AAD_IAM .ext-ownerslist-name { padding-left: 10px; }
.css-scope-Microsoft_AAD_IAM .ext-permissionList-title { font-weight: bolder; font-size: large; }
.css-scope-Microsoft_AAD_IAM .ext-permissionList-subText { font-size: small; }
.css-scope-Microsoft_AAD_IAM .ext-ad-permission-detail-container-spacing { margin-bottom: 15px; margin-left: 30px; font-weight: bold; }
.css-scope-Microsoft_AAD_IAM .ext-ad-assignment-detail-container-spacing { margin-bottom: 15px; margin-left: 30px; font-weight: bold; }
.css-scope-Microsoft_AAD_IAM .ext-ad-assignment-hotspot-container-spacing { margin-bottom: 15px; margin-left: 30px; max-width: 300px; font-weight: bold; border-width: 1px; border-style: solid; border-color: rgb(211, 211, 211); }