.css-scope-Microsoft_AAD_IAM .ext-ad-searchgroupspart-searchbox { padding: 20px 0px 0px; margin: 0px 15px 15px; width: calc(100% - 30px); overflow: hidden; min-height: inherit; }
.css-scope-Microsoft_AAD_IAM .ext-ad-groupslist-grid { height: calc(100% - 73px); }
.css-scope-Microsoft_AAD_IAM .ext-ad-groupspart-item { padding: 0px; margin: 0px; height: 30px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-groupspart-smallimage { width: 30px; height: 30px; display: inline-block; }
.css-scope-Microsoft_AAD_IAM .ext-ad-groupspart-smallicon { width: 20px; height: 20px; display: inline-block; }
.css-scope-Microsoft_AAD_IAM .ext-ad-groupspart-mediumicon { width: 30px; height: 30px; display: inline-block; }
.css-scope-Microsoft_AAD_IAM .ext-ad-groupspart { text-align: right; bottom: 0px; position: absolute; }