.css-scope-Microsoft_AAD_IAM .ext-policy-section-title { margin-left: 0px; margin-bottom: 20px; }
.css-scope-Microsoft_AAD_IAM .ext-policy-name { margin-top: -10px; }
.css-scope-Microsoft_AAD_IAM .ext-description-title { margin-top: 0px; }
.css-scope-Microsoft_AAD_IAM .ext-access-list-header { padding-bottom: 15px; }
.css-scope-Microsoft_AAD_IAM .ext-access-list-item-image { float: left; width: 40px; height: 40px; padding: 5px; }
.css-scope-Microsoft_AAD_IAM .ext-access-list-image { width: 40px; height: 40px; }
.css-scope-Microsoft_AAD_IAM .ext-access-list-item-details { padding: 10px 10px 10px 65px; width: calc(100% - 65px); height: 30px; }
.css-scope-Microsoft_AAD_IAM .ext-access-list-item-info { vertical-align: middle; }
.css-scope-Microsoft_AAD_IAM .ext-access-list-item-name { max-width: calc(100% - 25px); display: inline-block; vertical-align: middle; }
.css-scope-Microsoft_AAD_IAM .ext-trigger-parent { margin: 0px auto; }
.css-scope-Microsoft_AAD_IAM .ext-trigger-sub { margin-left: 20px; }
.css-scope-Microsoft_AAD_IAM .ext-trigger-sub-link { margin-left: 20px; margin-top: -20px; }
.css-scope-Microsoft_AAD_IAM .ext-trigger-sub-link2 { margin-left: 23px; }
.css-scope-Microsoft_AAD_IAM .ext-options { margin-left: 5px; }
.css-scope-Microsoft_AAD_IAM .ext-member-list-item-image { float: left; width: 40px; height: 40px; padding: 5px; }
.css-scope-Microsoft_AAD_IAM .ext-add-member-image { width: 40px; height: 40px; }
.css-scope-Microsoft_AAD_IAM .ext-thumbnailborder-user { border-radius: 50%; }
.css-scope-Microsoft_AAD_IAM .ext-thumbnailborder-group { border-radius: 25% 0px; }
.css-scope-Microsoft_AAD_IAM .ext-policyinfo-table { word-break: break-word; padding: 0px; margin: 16px 0px; list-style-type: none; border-width: 0px 0px 1px 1px; border-style: solid; border-color: rgb(211, 211, 211); border-spacing: 0px; }
.css-scope-Microsoft_AAD_IAM .ext-policyinfo-table thead { font-weight: bold; padding: 2px 4px; }
.css-scope-Microsoft_AAD_IAM .ext-policyinfo-table td { padding: 2px 4px; border-style: solid; border-color: rgb(211, 211, 211); border-width: 1px 1px 0px 0px; min-width: 40px; vertical-align: top; }
.css-scope-Microsoft_AAD_IAM .ext-applyCondition-picker { padding-bottom: 15px; }
.css-scope-Microsoft_AAD_IAM .ext-claimProviderDocEditor-container { height: 500px; width: 100%; }