.css-scope-Microsoft_AAD_IAM .ext-mfa-settings-section-spacing { margin-top: 30px; }
.css-scope-Microsoft_AAD_IAM .ext-mfa-settings-text-title { font-size: 16px; margin-bottom: 10px; padding-top: 7px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-mfa-container-spacing-header { margin-top: 10px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-mfa-bypass-cancel-description { margin-top: 5px; margin-bottom: 15px; }
.css-scope-Microsoft_AAD_IAM .ext-settings-properties-form { max-width: 500px; }
.css-scope-Microsoft_AAD_IAM .ext-settings-properties-form-short { max-width: 250px; }
.css-scope-Microsoft_AAD_IAM .ext-authenticationevents-filtergroup { display: block; float: left; }
.css-scope-Microsoft_AAD_IAM .ext-authenticationevents-filter { float: left; margin-right: 20px; width: 150px; }
.css-scope-Microsoft_AAD_IAM .ext-authenticationevents-filter2 { float: left; margin-right: 20px; width: 500px; }
.css-scope-Microsoft_AAD_IAM .ext-authenticationevents-form { width: 100%; padding: 20px; }
.css-scope-Microsoft_AAD_IAM .ext-authenticationevents-grid { clear: left; padding: 20px; }