.css-scope-Microsoft_AAD_IAM .ext-ad-policies-upsell-title { width: 100%; margin-top: 30px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-policies-upsell-content { margin-top: 20px; margin-bottom: 35px; overflow: hidden; }
.css-scope-Microsoft_AAD_IAM .ext-ad-policies-upsell-image { float: left; width: 16%; margin-right: 45px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-policies-upsell-description { float: left; width: 60%; }
.css-scope-Microsoft_AAD_IAM .ext-ad-policies-upsell-whyUse-title { width: 100%; margin-bottom: 15px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-policies-upsell-premium-trial-button { padding-top: 30px; }