.css-scope-Microsoft_Azure_Billing .ext-help-divider { margin-bottom: 45px; }
.css-scope-Microsoft_Azure_Billing .ext-help-listitem { margin-bottom: 30px; }
.css-scope-Microsoft_Azure_Billing .ext-help-listitem .ext-help-listitem-image { float: left; margin: 1px 15px 0px 0px; width: 48px; height: 48px; }
.css-scope-Microsoft_Azure_Billing .ext-help-listitem:first-of-type .ext-help-listitem-image { margin-top: -5px; }
.css-scope-Microsoft_Azure_Billing .ext-help-listitem .ext-help-listitem-link { color: rgb(255, 255, 255); }
.css-scope-Microsoft_Azure_Billing .ext-help-listitem .ext-help-listitem-text { float: right; width: 450px; margin-right: 15px; }
.css-scope-Microsoft_Azure_Billing .ext-help-listitem .ext-help-listitem-text h2.ext-help-listitem-text-header { margin: 6px 0px 10px; }
.css-scope-Microsoft_Azure_Billing .ext-help-listitem .ext-help-listitem-text .ext-help-listitem-text-regular { margin-bottom: 10px; }
.css-scope-Microsoft_Azure_Billing .ext-help-linkImage { display: inline-block; width: 10px; height: 10px; vertical-align: text-top; padding-left: 2px; }
.css-scope-Microsoft_Azure_Billing .ext-help-linkImage.ext-help-linkImageInternal { width: 12px; height: 12px; }
.css-scope-Microsoft_Azure_Billing .ext-help-serviceDashboardHotSpot { display: inline-block; padding: 0px; }