.css-scope-Microsoft_AAD_IAM .ext-ad-appProxy-container-spacing > div { margin-top: 20px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-appProxy-container-spacing-header { margin-top: 30px; margin-bottom: 15px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-appproxy-singleapp-container-spacing { margin-bottom: 20px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-appproxy-externalurl-spacing { margin-bottom: 5px; }
.css-scope-Microsoft_AAD_IAM div.ext-ad-appproxy-connectorgroup-spacing > div { margin-top: 5px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-appproxy-warning-hide { display: none; }
.css-scope-Microsoft_AAD_IAM .ext-ad-appproxy-connectorwarning-spacing { margin-top: -15px; margin-bottom: 20px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-appProxy-icon { width: 25px; height: 25px; float: left; padding-right: 10px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-appProxy-container-spacing-header > div.ext-ad-appProxy-tenant-spacing { margin-top: 5px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-appProxy-container-spacing > div.ext-ad-appProxy-info-spacing { margin-top: 5px; }