.css-scope-Microsoft_AAD_IAM .ext-ad-singleSignOn-formsection { margin-top: 16px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-singleSignOn-formelement { padding-top: 5px; padding-bottom: 5px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-singleSignOn-formsectionWrapper { margin-top: 16px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-singleSignOn-federated-sections { padding-top: 25px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-singleSignOn-federated-subsections { padding-bottom: 20px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-singleSignOn-federated-sectionUrls { margin-bottom: 20px; padding-left: 10px; width: 430px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-singleSignOn-federated-advancedSectionUrls { margin-bottom: 20px; padding-left: 20px; width: 430px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-singleSignOn-federated-claimTranformationsField { margin-bottom: 20px; padding-left: 71px; width: 434px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-singleSignOn-federated-certificatesGridSection a { cursor: pointer; }
.css-scope-Microsoft_AAD_IAM .ext-ad-singleSignOn-federated-certificateCreateButton { margin-bottom: 20px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-singleSignOn-headAuth { font-weight: bold; }
.css-scope-Microsoft_AAD_IAM img.ext-ad-singleSignOn-headAuth { height: 75px; width: 75px; }