.css-scope-WebsitesExtension .ext-instructions-container { min-width: 100%; margin-bottom: 10px; font-size: smaller; }
.css-scope-WebsitesExtension .ext-instructions-index { font-size: 48px; float: left; vertical-align: top; min-height: 100px; margin-top: -10px; padding-left: 10px; padding-right: 20px; }
.css-scope-WebsitesExtension .ext-instructions-title { font-weight: bold; font-size: 13px; padding-bottom: 5px; }
.css-scope-WebsitesExtension .ext-instructions-description { font-size: 13px; }
.css-scope-WebsitesExtension .ext-instructions-content { margin-left: 15px; font-size: 13px; }