.css-scope-WebsitesExtension .ext-notice { height: 100%; }
.css-scope-WebsitesExtension .ext-notice .ext-notice-container { padding: 30px; }
.css-scope-WebsitesExtension .ext-notice .ext-notice-container p { margin: 0px 0px 30px; }
.css-scope-WebsitesExtension .ext-notice .ext-notice-container .ext-notice-image { float: right; }
.css-scope-WebsitesExtension .ext-notice .ext-notice-container .ext-notice-action { margin-top: 40px; display: inline-block; }
.css-scope-WebsitesExtension .ext-notice .ext-notice-container .ext-notice-action > .ext-notice-action-text { vertical-align: middle; }