.css-scope-WebsitesExtension .ext-button { border-style: none; cursor: pointer; }
.ext-mode-dark .css-scope-WebsitesExtension .ext-button { color: rgb(255, 255, 255); background: rgb(34, 34, 34); }
.ext-mode-light .css-scope-WebsitesExtension .ext-button { background: rgb(255, 255, 255); }