<div id="web-container" class="fxs-portal fxs-desktop-normal fxs-show-journey">
    <div class="fxs-topbar">
    </div>
    <div class="fxs-portal-tip"></div>
    <div class="fxs-portal-main">
        <div class="fxs-sidebar fxs-trim"></div>
        <div class="portal-contextpane" alignment="left"></div>
        <div class="fxs-portal-content fxs-scrollbar-transparent fxs-scrollbar-default-hover fxs-panorama"></div>
        <div class="portal-contextpane" alignment="right"></div>
    </div>
    <azure-svg-symbols></azure-svg-symbols>
</div>
