.fxs-mode-light .fxs-blade-locked, .fxs-mode-light .fxs-portal-background {
    background-color: #fff
}

.fxs-mode-light .fxs-bladecontent-unlocked, .fxs-mode-light .fxs-portal-background-secondary {
    background-color: #eee
}

.fxs-mode-light .fxs-bladestyle-create, .fxs-mode-light .fxs-bladestyle-help {
    background-color: #fff
}

.fxs-mode-light .fxs-portal-background-primary {
    background-color: #0058ad
}

.fxs-mode-light .fxs-portal-text {
    color: #252525
}

.fxs-mode-light .fxs-portal-text-primary {
    color: #0058ad
}

.fxs-mode-light .fxs-portal-title {
    color: #444
}

.fxs-mode-light .fxs-portal-border {
    border-color: #bbb
}

.fxs-mode-light .fxs-portal-bg-txt-br {
    color: #252525;
    border-color: #bbb;
    background-color: #fff
}

.fxs-mode-light .fxs-portal-selected {
    background-color: #bfeefb
}

.fxs-mode-light .msportalfx-docking-footer {
    border-color: #bbb
}

.fxs-mode-light .fxs-portal-hover:hover {
    background-color: #e5f8fd
}

.fxs-mode-light .fxs-portal-svg svg {
    fill: #252525
}

.fxs-mode-light .fxs-portal-svg-secondary svg {
    fill: #444
}

.fxs-mode-light .fxs-tile-overlay {
    background-color: rgba(255,255,255,.6)
}

.fxs-mode-light .fxc-infoBox-image-container {
    background-color: #bbb
}

.fxs-mode-light .azc-control {
    border-color: #bbb
}

    .fxs-mode-light .azc-control optgroup, .fxs-mode-light .azc-control option {
        background-color: #fff;
        border-color: #bbb;
        color: #252525
    }

        .fxs-mode-light .azc-control optgroup[disabled], .fxs-mode-light .azc-control option[disabled] {
            color: #929292
        }

    .fxs-mode-light .azc-control ::-webkit-input-placeholder {
        color: #515151
    }

    .fxs-mode-light .azc-control ::-moz-placeholder {
        color: #515151
    }

    .fxs-mode-light .azc-control :-ms-input-placeholder {
        color: #515151
    }

.fxs-mode-light .azc-node-fill {
    fill: #94caff
}

.fxs-mode-light .azc-node-fill-focused, .fxs-mode-light .azc-node-fill-hovered {
    fill: #47a5ff
}

.fxs-mode-light .azc-node-bg {
    background-color: #94caff
}

.fxs-mode-light .azc-node-bg-focused, .fxs-mode-light .azc-node-bg-hovered {
    background-color: #47a5ff
}

.fxs-mode-light .azc-chart {
    fill: #fff;
    stroke: #ccc
}

    .fxs-mode-light .azc-chart text {
        fill: #515151
    }

        .fxs-mode-light .azc-chart text.azc-chart-axis-slider-text {
            fill: #252525
        }

.fxs-mode-light .azc-external-hovered:not(.azc-row-disabled) {
    background-color: #e6eef7
}

.fxs-mode-light .azc-header {
    background-color: #bbb;
    color: #252525
}

.fxs-mode-light .azc-formControl, .fxs-mode-light .azc-textarea {
    border-color: #bbb;
    background-color: #fff
}

.fxs-mode-light .azc-input {
    color: #252525
}

.fxs-mode-light .azc-formControl.azc-br-focused, .fxs-mode-light .azc-formControl.azc-br-focused.fxs-br-dirty, .fxs-mode-light .azc-formControl:focus {
    border-color: #0058ad
}

.fxs-mode-light .azc-list-focused {
    background-color: #d9e6f3
}

.fxs-mode-light .azc-list-selected {
    background-color: #b3cde6
}

.fxs-mode-light .azc-bg-default {
    background-color: #fff
}

.fxs-mode-light .azc-bg-light {
    background-color: #e6e6e6
}

.fxs-mode-light .azc-bg-muted {
    background-color: #b3b3b3
}

.fxs-mode-light .azc-bg-muted-80-10 {
    background-color: #333
}

.fxs-mode-light .azc-bg-console {
    background-color: #191919
}

.fxs-mode-light .azc-bg-hover {
    background-color: #99bcde
}

.fxs-mode-light .azc-bg-disabled {
    background-color: #e6e6e6
}

.fxs-mode-light .azc-outline-focusable:focus {
    outline-color: #4d4d4d
}

.fxs-mode-light .azc-outline-focusable[aria-selected=true]:focus, .fxs-mode-light .azc-outline-primary {
    outline-color: #0058ad
}

.fxs-mode-light .azc-bg-inverted {
    background-color: #4d4d4d
}

.fxs-mode-light .azc-bg-hover-muted:hover {
    background-color: grey
}

.fxs-mode-light .azc-br-muted {
    border-color: #ccc
}

.fxs-mode-light .azc-br-muted-80-10 {
    border-color: #333
}

.fxs-mode-light .azc-br-active {
    border-color: #252525
}

.fxs-mode-light .azc-br-strong {
    border-color: grey
}

.fxs-mode-light .azc-br-focused, .fxs-mode-light .azc-br-focused.azc-br-edited, .fxs-mode-light .azc-br-focused.fxs-br-dirty, .fxs-mode-light .azc-br-focused.fxs-br-error, .fxs-mode-light .azc-br-hovered, .fxs-mode-light .azc-br-selected {
    border-color: #0058ad
}

.fxs-mode-light .azc-br-top-hovered {
    border-top-color: #0058ad
}

.fxs-mode-light .azc-br-bottom-hovered {
    border-bottom-color: #0058ad
}

.fxs-mode-light .azc-br-inverted {
    border-color: #4d4d4d
}

.fxs-mode-light .azc-stroke-muted {
    stroke: grey
}

.fxs-mode-light .azc-stroke-heavy {
    stroke: #666
}

.fxs-mode-light .azc-stroke-default {
    stroke: #fff
}

.fxs-mode-light .azc-stroke-selected {
    stroke: #0058ad
}

.fxs-mode-light .azc-fill-default, .fxs-mode-light svg.azc-fill-default {
    fill: #fff
}

.fxs-mode-light .azc-fill-heavy, .fxs-mode-light .azc-fill-hovered-heavy:hover {
    fill: #666
}

.fxs-mode-light .azc-fill-text {
    fill: #252525
}

.fxs-mode-light .azc-fill-hover {
    fill: #d9e6f3
}

.fxs-mode-light .azc-fill-selected {
    fill: #b3cde6
}

.fxs-mode-light .azc-fill-primary svg {
    fill: #0058ad
}

.fxs-mode-light .azc-scrollbar-default, .fxs-mode-light .azc-scrollbar-default:hover {
    -ms-scrollbar-track-color: #e6e6e6;
    -ms-scrollbar-face-color: #b3b3b3
}

    .fxs-mode-light .azc-scrollbar-default::-webkit-scrollbar, .fxs-mode-light .azc-scrollbar-default:hover::-webkit-scrollbar {
        background: 0 0
    }

    .fxs-mode-light .azc-scrollbar-default::-webkit-scrollbar-track-piece, .fxs-mode-light .azc-scrollbar-default:hover::-webkit-scrollbar-track-piece {
        background: 0 0
    }

    .fxs-mode-light .azc-scrollbar-default::-webkit-scrollbar-thumb, .fxs-mode-light .azc-scrollbar-default:hover::-webkit-scrollbar-thumb {
        background: #b3b3b3
    }

.fxs-mode-light .azc-text-muted {
    color: #757575
}

.fxs-mode-light .azc-text-label {
    color: #474747
}

.fxs-mode-light .azc-text-console {
    color: #e6e6e6
}

.fxs-mode-light .azc-text-primary, .fxs-mode-light a.azc-text-primary {
    color: #0058ad
}

.fxs-mode-light .azc-text-disabled, .fxs-mode-light a.azc-text-disabled {
    color: #929292
}

.fxs-mode-light .azc-text-inverted {
    color: #fff
}

.fxs-mode-light .azc-disabled, .fxs-mode-light .azc-disabled:focus, .fxs-mode-light .azc-disabled:hover, .fxs-mode-light input.azc-disabled {
    color: #929292;
    background-color: #e6e6e6;
    border-color: #969696;
    fill: #929292
}

.fxs-mode-light .azc-fill-disabled svg {
    fill: #929292 !important
}

.fxs-mode-light .azc-grid-selectableRow:not(.azc-grid-activateableRow) .azc-grid-selectable .azc-external-hovered:not(.fxs-bg-error):not(.azc-bg-edited):not(.azc-disabled):not(.azc-row-disabled):not(.fxs-portal-selected):not(.fxs-portal-selected), .fxs-mode-light .azc-grid-selectableRow:not(.azc-grid-activateableRow) .azc-grid-selectable .fxs-portal-hover:hover:not(.fxs-bg-error):not(.azc-bg-edited):not(.azc-disabled):not(.azc-row-disabled):not(.fxs-portal-selected):not(.fxs-portal-selected) {
    background-color: #fff
}

.fxs-mode-light .msportalfx-bg-muted-5 {
    background-color: #f2f2f2
}

.fxs-mode-light .msportalfx-bg-muted {
    background-color: #e6e6e6
}

.fxs-mode-light .msportalfx-bg-default {
    background-color: #fff
}

.fxs-mode-light .msportalfx-text-default {
    color: #252525
}

.fxs-mode-light .msportalfx-text-white {
    color: #fff
}

.fxs-mode-light .msportalfx-text-muted-50 {
    color: #444
}

.fxs-mode-light .msportalfx-fill {
    fill: #252525
}

.fxs-mode-light .msportalfx-bgcolor-paletteLightGray {
    background-color: #e6e6e6
}

.fxs-mode-light .msportalfx-highlight {
    color: #000;
    background-color: #fff100
}

.fxs-mode-light .msportalfx-brdr-color:hover, .fxs-mode-light .msportalfx-brdr-selected {
    border-color: #00bcf2
}

.fxs-mode-light .msportalfx-border {
    border-color: #bbb
}

.fxs-mode-light .msportalfx-text-primary {
    color: #0058ad
}

.fxs-mode-light a.msportalfx-link-primary {
    color: #0058ad !important
}

.fxs-mode-light .fxs-graph-fill {
    fill: #fff !important
}

.fxs-mode-light .azc-has-focus .azc-dockedballoon-validation {
    border-color: #0058ad
}

.fxs-mode-light .fxs-bladestyle-create .msportalfx-form .fxs-br-dirty {
    border-color: #bbb
}

    .fxs-mode-light .fxs-bladestyle-create .msportalfx-form .fxs-br-dirty.azc-br-focused {
        border-color: #0058ad
    }

.fxs-mode-light .fxs-bladestyle-create .msportalfx-form .azc-is-edited .azc-dockedballoon-validation {
    border-color: #bbb
}

.fxs-mode-light .fxs-portal-selected.azc-bg-disabled {
    background-color: #acd6e2
}
