@using System.IO
@using System.Reflection
@using System.Xml.Linq
@using CRED.Helpers
@using CRED.Client;
@using CRED.Shared
@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Hosting.Internal
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Caching.Memory
@using ResourceMapper.Base
@inject IHostingEnvironment HostingEnvironment
@inject ClientLoaderResources ClientLoaderResources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CRED</title>
    <base href="~/">
    <style>
        #app-container {
            height: 100%;
            padding: 0;
            margin: 0;
            animation: fadein 0.2s;
            animation-delay: 0.5s;
        }
    </style>
    <environment names="Development">
        @foreach (var file in ClientLoaderResources.PreloadFiles)
        {
            if (file.Type == AppLoaderResource.ResourceType.Script)
            {
                <script src="@file.Path" asp-append-version="true" defer></script>
            }
            else
            {
                throw new NotSupportedException($"Unknown resource format {file.Path}");
            }
        }
        @foreach (var file in ClientLoaderResources.MainFiles)
        {
            <link rel="preload" href="@file.Path" data-resource-type="@file.Type" asp-append-version="true" >
        }
    </environment>
    <environment names="Staging,Production">
        <script src="~/CRED.Client/CRED.Client.js" asp-append-version="true" defer></script>
    </environment>
</head>
<body>
    <div id="app-container"></div>
    @{
        Html.RenderPartial("SplashScreen");
        IgnoreBody();
    }
</body>
</html>
