<div class="fxs-startboard-target">

</div>

<div class="fxs-journey-target fxs-journey">
    <div class="fxs-journey-layout fxs-stacklayout-horizontal fxs-stacklayout">
        <section class="fxs-mode-locked fxs-blade-locked fxs-bladestyle-default fxs-blade-color-default fxs-blade-paired-smallmaster fxs-blade fx-rightClick fxs-stacklayout-child fxs-bladesize-large fxs-blade-pairmaster fxs-blade-paired" *ngFor="let blade of blades" [blade]="blade"></section>
        <!--<section class="fxs-mode-locked fxs-blade-locked fxs-bladestyle-default fxs-blade-color-default fxs-blade-paired-smallmaster fxs-blade fx-rightClick fxs-stacklayout-child fxs-bladesize-large fxs-blade-pairmaster fxs-blade-paired"></section>-->
    </div>
</div>