.azc-grid-reorderRow.azc-grid table thead tr th:nth-child(2) > a {
                padding-left: 0;
            }

            .azc-grid-reorderRow col.azc-grid-reorderRow-col {
                width: 16px;
            }

            .azc-grid-reorderRow table tbody tr[draggable] {
                -webkit-user-drag: element;
            }

            .azc-grid-reorderRow table tbody tr td.azc-grid-reorderRow-cell {
                padding-left: 5px;
                padding-right: 6px;
            }

            .azc-grid-reorderRow table tbody tr td:nth-child(2) {
                padding: 0;
            }

            .azc-grid-reorderRow.azc-grid-reorderRow-enabled table tbody tr:not([aria-disabled=true]):hover td.azc-grid-reorderRow-cell div {
                margin-top: 4px;
            }

                .azc-grid-reorderRow.azc-grid-reorderRow-enabled table tbody tr:not([aria-disabled=true]):hover td.azc-grid-reorderRow-cell div:before {
                    content: url(Content/static/azc.grid.reorderrowextension.handle-hover.svg);
                    width: 5px;
                    height: 17px;
                }

            .azc-grid-reorderRow.azc-grid-reorderRow-enabled table tbody tr:not([aria-disabled=true])[aria-selected=true]:hover td.azc-grid-reorderRow-cell div:before {
                content: url(Content/static/azc.grid.reorderrowextension.handle-active.svg);
            }

            .azc-grid-reorderRow .azc-grid-reorderRow-line {
                position: absolute;
                width: 100%;
                height: 3px;
                display: none;
            }

            .azc-grid-reorderRow.azc-grid-reorderRow-active .azc-grid-reorderRow-line {
                display: block;
            }