.azc-grid-focusableRow table tbody tr[aria-disabled=true] td > div {
                opacity: .5;
            }

            .azc-grid-focusableRow table tbody tr[aria-disabled=true] td.azc-grid-infoBalloon > div {
                opacity: 1;
            }

            .azc-grid-focusableRow table tbody tr[aria-disabled=true] td .azc-dockedballoon {
                position: static;
            }

            .azc-grid-focusableRow.azc-grid-mousedown {
                outline: 0;
            }