.css-scope-Microsoft_Azure_Billing .ext-hubs-picker-grid-details-parent { vertical-align: middle; }
.css-scope-Microsoft_Azure_Billing .ext-hubs-picker-grid-details { margin-top: 6px; }
.css-scope-Microsoft_Azure_Billing .ext-hubs-picker-grid-text-subheader { margin-top: 2px; }