.css-scope-Microsoft_AAD_IAM .ext-ad-domains-container-spacing > div { margin-bottom: 5px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-domains-container-spacing-header { margin-top: 10px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-domains-deleteDomain-spacing { padding-left: 15px; padding-right: 15px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-domains-deleteDomain-spacing > div { margin-top: 15px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-domains-references-link { margin-left: -10px; margin-top: 10px; }