.css-scope-Microsoft_AAD_IAM .ext-ad-enterpriseApps-container-spacing { margin-bottom: 20px; width: 300px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-enterpriseApps-logo-spacing { margin-bottom: 10px; width: 300px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-enterpriseApps-container-spacing-header { margin-top: 15px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-enterpriseApps-appsCountTile-spacing { margin-bottom: -2px; margin-top: 5px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-enterpriseApps-logo-tile { padding-top: 2px; margin-right: 2px; margin-bottom: -2px; cursor: pointer; }
.css-scope-Microsoft_AAD_IAM .ext-ad-enterpriseApps-icon { height: 45px; width: 45px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-enterpriseApps-userIcon { border-radius: 50%; }
.css-scope-Microsoft_AAD_IAM .ext-ad-enterpriseApps-groupIcon { border-radius: 25% 0px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-enterpriseApps-quickStart-content { vertical-align: top; display: inline-block; width: 400px; margin: 15px 0px 20px 30px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-enterpriseApps-quickStart-icon { vertical-align: top; display: inline-block; height: 60px; width: 60px; margin: 15px 0px 0px 10px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-enterpriseApps-quickStart-content-title { font-size: 14px; line-height: 17px; margin-bottom: 10px; font-weight: bold; }
.css-scope-Microsoft_AAD_IAM .ext-ad-enterpriseApps-quickStart-content-description { font-size: 12px; line-height: 18px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-enterpriseApps-quickStart { margin-top: -6px; cursor: pointer; }
.css-scope-Microsoft_AAD_IAM .ext-ad-enterpriseApps-quickStart:hover { background-color: rgba(0, 188, 242, 0.247059); }
.css-scope-Microsoft_AAD_IAM .ext-ad-enterpriseApps-quickStart-overview > ul > li > div { display: inline; }
.css-scope-Microsoft_AAD_IAM .ext-ad-enterpriseApps-quickStart-overview > ul > li > div:first-child { font-weight: bold; }
.css-scope-Microsoft_AAD_IAM .ext-ad-enterpriseApps-quickStart-overview > ul > li { margin-top: 10px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-enterpriseApps-quickStart-overview > div { margin-top: 20px; }