.css-scope-Microsoft_AAD_IAM .ext-ad-licenses-container-spacing-title { padding: 5px; text-align: left; margin-bottom: 10px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-licenses-container-spacing > div { margin-top: 5px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-licenses-servicePlans-details-spacing { vertical-align: top; margin-left: 5px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-licenses-groups-processing-infobox-spacing { margin-top: -2px; margin-bottom: -5px; }