.css-scope-Microsoft_AAD_IAM .ext-ad-appslist-grid { height: calc(100% - 58px); }
.css-scope-Microsoft_AAD_IAM .ext-ad-appslist-image { height: 30px; width: 30px; display: inline-block; vertical-align: middle; padding: 0px 10px; }
.css-scope-Microsoft_AAD_IAM .ext-ad-appspart-count { bottom: 0px; position: absolute; width: 100%; }
.css-scope-Microsoft_AAD_IAM .ext-ad-appspart-smallicon { width: 20px; height: 20px; float: right; }