.css-scope-WebsitesExtension .ext-container { margin-bottom: 35px; }
.css-scope-WebsitesExtension .ext-label { font-size: 12px; text-transform: uppercase; overflow: hidden; text-overflow: ellipsis; font-weight: 600; }
.css-scope-WebsitesExtension .ext-value { font-size: 14px; }
.css-scope-WebsitesExtension .ext-clearfix { clear: both; }