.css-scope-WebsitesExtension .ext-container { margin-bottom: 35px; }
.css-scope-WebsitesExtension .ext-label { font-size: 12px; text-transform: uppercase; overflow: hidden; text-overflow: ellipsis; }
.css-scope-WebsitesExtension .ext-value { font-size: 14px; }
.css-scope-WebsitesExtension .ext-link { color: rgb(0, 188, 242); cursor: pointer; padding-left: 25px; font-size: 12px; }