.fxs-part-chart.fxs-part-chart-fitToContainer {
                height: 100%;
                margin-top: -5px;
            }

            .fxs-part-chart .fxs-part-chart-editbutton {
                font-size: 11px;
                text-align: right;
                padding: 0 4px;
                position: absolute;
                top: -18px;
                right: -12px;
            }

            .fxs-part-nodata .fxs-part-chart .fxs-part-chart-editbutton {
                display: none;
            }