.msportalfx-property .msportalfx-property-value.fxs-part-properties-text .msportalfx-property-text-icon,
            .msportalfx-property .msportalfx-property-value.fxs-part-properties-text .msportalfx-tooltip-overflow,
            .msportalfx-property > * {
                display: inline-block;
                vertical-align: middle;
            }

            .msportalfx-property {
                padding: 5px 0;
                white-space: nowrap;
                line-height: 0;
                font-size: 0;
            }

                .msportalfx-property > * {
                    box-sizing: border-box;
                    white-space: normal;
                    font-size: medium;
                    line-height: normal;
                }

                .msportalfx-property .msportalfx-property-label-wrapper,
                .msportalfx-property .msportalfx-property-name {
                    font-size: 12px;
                    line-height: normal;
                    font-family: az_ea_font, wf_segoe-ui_normal, "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
                }

                .msportalfx-property .msportalfx-property-label-wrapper {
                    width: 32%;
                    margin-top: 5px;
                }

                    .msportalfx-property .msportalfx-property-label-wrapper .msportalfx-property-name {
                        text-transform: uppercase;
                        max-width: 100%;
                        width: auto;
                        white-space: wrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: inline-block;
                    }

                .msportalfx-property .msportalfx-property-name {
                    text-transform: uppercase;
                    width: 32%;
                    white-space: wrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .msportalfx-property .msportalfx-property-value {
                    font-family: az_ea_font, wf_segoe-ui_normal, "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
                    font-size: 14px;
                    line-height: 17px;
                    width: 64%;
                    margin-left: 3%;
                    margin-top: 4px;
                }

                    .msportalfx-property .msportalfx-property-value.fxs-part-properties-text .msportalfx-property-text-icon + .msportalfx-tooltip-overflow {
                        max-width: calc(100% - 27px);
                    }

                    .msportalfx-property .msportalfx-property-value.fxs-part-properties-copyfield {
                        margin-top: 4px;
                    }

                        .msportalfx-property .msportalfx-property-value.fxs-part-properties-copyfield input {
                            padding-left: 9px;
                        }

                .msportalfx-property.msportalfx-property-compact > * {
                    vertical-align: top;
                }

                .msportalfx-property.msportalfx-property-compact .msportalfx-property-name {
                    margin-top: 4px;
                    width: 95px;
                }

            .fxs-bladesize-small .fxs-part-properties .msportalfx-property-label-wrapper,
            .fxs-bladesize-small .fxs-part-properties .msportalfx-property-name,
            .fxs-bladesize-small .fxs-part-properties .msportalfx-property-value {
                display: block;
                width: auto;
            }

            .msportalfx-property.msportalfx-property-compact .msportalfx-property-value {
                font-family: az_ea_font, wf_segoe-ui_normal, "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
                font-size: 12px;
                line-height: 18px;
                max-width: calc(100% - 3% - 95px);
            }

            .fxs-part-properties {
                padding-left: 0;
                margin: 0;
            }

                .fxs-part-properties .msportalfx-property {
                    padding: 0 0 13px;
                }

                    .fxs-part-properties .msportalfx-property.fxs-part-properties-property-wrapped .msportalfx-property-value > a,
                    .fxs-part-properties .msportalfx-property.fxs-part-properties-property-wrapped .msportalfx-property-value > div {
                        white-space: pre-wrap;
                        word-wrap: break-word;
                    }

                    .fxs-part-properties .msportalfx-property:first-child {
                        padding-top: 0;
                    }

                .fxs-part-properties ul {
                    padding: 0;
                    margin: 0;
                    list-style-type: none;
                }

                    .fxs-part-properties ul > li {
                        padding: 1px 0;
                    }

                        .fxs-part-properties ul > li > a {
                            display: block;
                        }

                .fxs-part-properties .msportalfx-property-label-wrapper .msportalfx-property-name {
                    vertical-align: top;
                    margin-top: 0;
                }

                .fxs-part-properties .msportalfx-property-name {
                    vertical-align: top;
                    margin-top: 5px;
                }

                .fxs-part-properties .msportalfx-property-value > * {
                    display: block;
                }

                .fxs-part-properties .msportalfx-property-highlight {
                    background: #c5cbd1;
                }

                .fxs-part-properties .msportalfx-property-value > a,
                .fxs-part-properties .msportalfx-property-value > div {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 100%;
                }

            .fxs-bladesize-small .fxs-part-properties .msportalfx-property {
                padding: 14px 25px 10px;
            }

            .fxs-bladesize-small .fxs-part-properties .msportalfx-property-name {
                vertical-align: middle;
                margin-top: 0;
            }

            .fxs-bladesize-small .fxs-part-properties .msportalfx-property-value {
                margin: 6px 0 0;
            }

                .fxs-bladesize-small .fxs-part-properties .msportalfx-property-value.fxs-part-properties-copyfield {
                    margin-top: 12px;
                }

            .fxs-part-properties-image svg {
                height: 25px;
                width: 25px;
            }

            .msportalfx-property-callback-icon,
            .msportalfx-property-text-icon {
                width: 27px;
            }

                .msportalfx-property-callback-icon svg,
                .msportalfx-property-text-icon svg {
                    height: 25px;
                    width: 25px;
                }

            .msportalfx-property-callback-icon {
                float: left;
            }