.fxc-chart .fxc-chart-loading {
                height: 100%;
                display: -webkit-flex;
                display: flex;
                -webkit-align-items: center;
                align-items: center;
                -webkit-justify-content: center;
                justify-content: center;
            }

            .fxc-chart .fxc-chart-graph-area,
            .fxc-chart .fxc-chart-legend-area {
                display: inline-block;
                vertical-align: top;
            }

            .fxc-chart .fxc-chart-loading .fxc-chart-loading-icon {
                height: 30px;
                width: 30px;
            }

            .fxc-chart .fxc-chart-graph-and-legend {
                width: 100%;
                white-space: nowrap;
            }

                .fxc-chart .fxc-chart-graph-and-legend text {
                    font-family: az_ea_font, wf_segoe-ui_normal, "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
                }

            .fxc-chart .fxc-chart-legend-area-container {
                height: 100%;
                width: 105px;
                display: inline-block;
                vertical-align: top;
            }

            .fxc-chart .fxc-chart-legend-area {
                width: calc(100% - 25px);
                height: calc(100% - 2px);
                padding: 0 10px 0 15px;
                margin-top: -4px;
                overflow: hidden;
            }

            .fxc-chart .azc-metrics {
                width: calc(100% - 30px);
                padding: 5px 15px 0;
            }