.fxs-toast-description,
        .fxs-toast-time,
        .fxs-toast-title {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .azc-is-edited.azc-has-focus {
            border-color: #7fba00;
        }

            .azc-is-edited.azc-has-focus .azc-dockedballoon-validation {
                border-color: #00bcf2;
            }

        .azc-is-edited .azc-dockedballoon-validation {
            border-color: #9b4f96;
        }

        .fxs-toast {
            position: fixed;
            top: 55px;
            right: 20px;
            width: 355px;
            list-style-type: none;
            margin: 0;
        }

        .fxs-toast-content,
        .fxs-toast-link {
            -webkit-flex: 1 1 auto;
            flex: 1 1 auto;
            padding: 10px;
        }

        .fxs-toast-item {
            display: -webkit-flex;
            display: flex;
            margin-bottom: 5px;
            position: relative;
        }

        .fxs-toast-header {
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            padding-top: 5px;
            margin-bottom: 5px;
        }

        .fxs-toast-icon svg {
            height: 14px;
            width: 14px;
        }

        .fxs-toast-title {
            -webkit-flex: 1 1 auto;
            flex: 1 1 auto;
            margin-left: 10px;
            max-width: 254px;
            white-space: nowrap;
        }

        .fxs-toast-time {
            white-space: nowrap;
            max-width: 60px;
            -webkit-flex: 0 0 auto;
            flex: 0 0 auto;
        }

        .fxs-toast-close {
            position: absolute;
            top: 0;
            right: 0;
            background: 0 0;
            border: none;
            padding: 5px;
            cursor: pointer;
        }

            .fxs-toast-close svg {
                height: 12px;
                width: 12px;
            }

        .fxs-toast-description {
            font-family: az_ea_font, wf_segoe-ui_normal, "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
            font-size: 12px;
            line-height: 18px;
            width: 335px;
        }

        .fxs-toast-progressbar {
            margin-top: 10px;
            max-height: 5px;
        }

        .fxs-nps .fxs-nps-title {
            font-family: az_ea_font, wf_segoe-ui_semibold, "Segoe UI Semibold", "Segoe WP Semibold", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
            margin-bottom: 7px;
        }

        .fxs-nps .fxs-nps-score span {
            border: 1px solid #c5cbd1;
            text-align: center;
            height: 23px;
            width: 23px;
            line-height: 23px;
            font-size: 11px;
            margin-right: 6px;
            display: inline-block;
            cursor: pointer;
        }

            .fxs-nps .fxs-nps-score span.fxs-nps-score-selected,
            .fxs-nps .fxs-nps-score span:hover {
                background: #00bcf2;
                border-color: #00bcf2;
            }

            .fxs-nps .fxs-nps-score span:last-child {
                margin-right: 0;
            }

        .fxs-nps .fxs-nps-help {
            color: #758393;
            display: flex;
            margin-bottom: 10px;
            font-size: 12px;
            width: 335px;
        }

            .fxs-nps .fxs-nps-help span:last-child {
                margin-left: auto;
            }

        .fxs-nps .fxs-nps-survey {
            font-size: 12px;
            text-decoration: underline;
        }

        .fxs-nps .fxs-nps-comments {
            margin-top: 6px;
            margin-bottom: 18px;
            width: 319px;
            border: 1px solid #c5cbd1;
            height: 100px;
            padding: 7px;
        }

        .fxs-nps .fxs-nps-button-holder {
            border-top: 1px solid #dcdfe2;
            width: 355px;
            margin-left: -10px;
        }

        .fxs-nps .fxs-nps-submit {
            margin: 15px 10px 5px;
            background-color: #00bcf2;
            border-color: #00bcf2;
            color: #fff;
        }