.fxs-messagebox,
        .fxs-messagebox h2,
        .fxs-progressbox,
        .fxs-progressbox h2 {
            font-family: az_ea_font, wf_segoe-ui_normal, "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
        }

        .fxs-commandBar-form {
            padding: 0;
        }

        .fxs-messagebox,
        .fxs-progressbox {
            font-size: 14px;
            box-sizing: border-box;
            border: 1px solid;
        }

            .fxs-messagebox h2,
            .fxs-progressbox h2 {
                font-size: 110%;
                padding: 24px 27px 7px;
                margin: 0;
                line-height: 14px;
                border-bottom: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .fxs-messagebox .fxs-messagebox-html,
            .fxs-messagebox .fxs-messagebox-text,
            .fxs-messagebox .fxs-progressbox-text,
            .fxs-progressbox .fxs-messagebox-html,
            .fxs-progressbox .fxs-messagebox-text,
            .fxs-progressbox .fxs-progressbox-text {
                padding: 0 27px;
                word-wrap: break-word;
            }

            .fxs-messagebox .fxs-progressbox-progressbar,
            .fxs-progressbox .fxs-progressbox-progressbar {
                padding: 7px 27px 24px;
            }

            .fxs-messagebox .fxs-messagebox-buttons,
            .fxs-progressbox .fxs-messagebox-buttons {
                border-top: 1px solid;
            }

            .fxs-messagebox .msportalfx-form,
            .fxs-progressbox .msportalfx-form {
                padding: 0;
                margin: 27px 0 0;
            }

                .fxs-messagebox .msportalfx-form div,
                .fxs-progressbox .msportalfx-form div {
                    padding: 15px 27px;
                }