.fxs-stacklayout {
            display: -webkit-flex;
            display: flex;
        }

            .fxs-stacklayout.fxs-stacklayout-vertical {
                -webkit-flex-direction: column;
                flex-direction: column;
            }

            .fxs-stacklayout.fxs-stacklayout-horizontal {
                -webkit-flex-direction: row;
                flex-direction: row;
                height: 100%;
            }

                .fxs-stacklayout.fxs-stacklayout-horizontal > .fxs-stacklayout-child {
                    height: 100%;
                }

            .fxs-stacklayout > .fxs-stacklayout-child.fxs-stacklayout-child-addhidden {
                position: absolute !important;
                opacity: 0 !important;
                transition: none !important;
            }

        .fxs-stacklayout-child {
            -webkit-flex: 0 0 auto;
            flex: 0 0 auto;
        }