.fxs-avatarmenu-dropdown .fxs-avatarmenu-tenant-uri,
        .fxs-avatarmenu-tenant,
        .fxs-avatarmenu-username {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .fxs-avatarmenu {
            -webkit-flex: 0 0 auto;
            flex: 0 0 auto;
            box-sizing: border-box;
            z-index: 200;
        }

        .fxs-avatarmenu-header {
            position: relative;
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            padding-left: 20px;
        }

        .fxs-avatarmenu-username {
            font-family: az_ea_font, wf_segoe-ui_normal, "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
            font-size: 14px;
            line-height: normal;
            max-width: 146px;
        }

        .fxs-avatarmenu-dropdown .fxs-avatarmenu-dropdown-title,
        .fxs-avatarmenu-tenant {
            font-family: az_ea_font, wf_segoe-ui_semibold, "Segoe UI Semibold", "Segoe WP Semibold", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
            font-size: 10px;
            text-transform: uppercase;
        }

        .fxs-avatarmenu-tenant {
            line-height: normal;
            opacity: .9;
            max-width: 146px;
        }

        .fxs-avatarmenu-tenant-container {
            text-align: right;
            -webkit-flex: 1 1 auto;
            flex: 1 1 auto;
        }

        .fxs-avatarmenu-tenant-image {
            height: 35px;
            width: 35px;
            border: 0;
            border-radius: 35px;
            margin-left: 11px;
            margin-right: 5px;
            -webkit-flex: 0 0 auto;
            flex: 0 0 auto;
        }

        .fxs-avatarmenu-tenant-name {
            -webkit-flex: 0 0 100%;
            flex: 0 0 100%;
        }

        .fxs-avatarmenu-dropdown {
            width: 220px;
        }

            .fxs-avatarmenu-dropdown .fxs-avatarmenu-dropdown-title {
                padding: 5px 20px 0;
            }

            .fxs-avatarmenu-dropdown .fxs-avatarmenu-tenant-uri {
                font-size: 12px;
                margin-top: 5px;
            }

            .fxs-avatarmenu-dropdown .fxs-avatarmenu-list-tenant a {
                display: block;
            }

            .fxs-avatarmenu-dropdown .fxs-avatarmenu-list-system a {
                display: -webkit-flex;
                display: flex;
            }

            .fxs-avatarmenu-dropdown .fxs-avatarmenu-scrollviewer {
                max-height: 505px;
                overflow: auto;
            }

        html[lang^=ja] .fxs-avatarmenu .fxs-avatarmenu-dropdown .fxs-avatarmenu-dropdown-title,
        html[lang^=ja] .fxs-avatarmenu .fxs-avatarmenu-header .fxs-avatarmenu-tenant,
        html[lang^=ko] .fxs-avatarmenu .fxs-avatarmenu-dropdown .fxs-avatarmenu-dropdown-title,
        html[lang^=ko] .fxs-avatarmenu .fxs-avatarmenu-header .fxs-avatarmenu-tenant,
        html[lang^=zh] .fxs-avatarmenu .fxs-avatarmenu-dropdown .fxs-avatarmenu-dropdown-title,
        html[lang^=zh] .fxs-avatarmenu .fxs-avatarmenu-header .fxs-avatarmenu-tenant {
            font-size: 11px;
        }